nav{
    background-color: rgb(236, 224, 44);
}
.nav-item{
    text-decoration: none;
}
/* ul{
    list-style-type: none;
    margin-top: 20px;
}
li{
    padding: 0px 10px;
}
ul#menuz{
   display: flex;
   margin-top: 20px;
}
a{
    text-decoration: none;
}
RouterLink{
    text-decoration: none;
} */